/* declaring css variables */
:root {
    --primary: #000000;
    --tertiary: #FF6600;
}

/* css resets */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Poppins, sans-serif;
}

/* navigation bar */
header > nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-block: 50px;
}

nav > ul.links {
    align-items: center;
    gap: 2.5em;
    list-style-type: none;
}

ul > li > a {
    text-decoration: none;
    color: var(--primary)
}

nav > .buttons {
    align-items: center;
    gap: 1.2em;
}

.buttons > button {
    padding: 10px 20px;
    border-radius: 10px;
    border: none;
    background-color: var(--tertiary);
    color: #fff;
}

/* mobile navigation */
.menu, .mobile {
    display: none;
}

.menu {
    cursor: pointer;
}

/* Media Queries */
@media screen and (max-width: 1300px) {
    .menu {
        display: block;
    }
    .links, .buttons     {
        display: none;
    }
    .pad-horizontal {
        padding-inline: 50px;
    }
}
@media screen and (min-width: 1300px) {
    .menu {
        display: none;
    }
    .links, .buttons     {
        display: flex;
    }
    .pad-horizontal {
        padding-inline: 200px;
    }
}