/* declaring css variables */
:root {
    --primary: #000000;
    --tertiary: #FF6600;
}

/* css resets */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Poppins, sans-serif;
}

ul {
    list-style: none;
}

/* utilities */
.orangeBtn {
    padding: 10px 20px;
    border-radius: 10px;
    border: none;
    background-color: var(--tertiary);
    color: #fff;
}

/* navigation bar */
header > nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-block: 50px;
}

nav > ul.links {
    align-items: center;
    gap: 2.5em;
}

ul > li > a {
    text-decoration: none;
    color: var(--primary)
}

nav > .buttons {
    align-items: center;
    gap: 1.2em;
}

/* mobile navigation */
.menu {
    display: block;
}

.mobile {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2.5em;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: white;
}

.mobile-links {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 2.5em;
}

.mobile-buttons {
    display: flex;
    align-items: center;
    gap: 1.5em;
}

.mobile .close-btn {
    position: absolute;
    top: 40px;
    right: 20px;
}

.menu {
    cursor: pointer;
}

/* Media Queries */
@media screen and (max-width: 1300px) {
    .menu {
        display: block;
    }
    .links, .buttons     {
        display: none;
    }
    .pad-horizontal {
        padding-inline: 50px;
    }
}
@media screen and (min-width: 1300px) {
    .menu {
        display: none;
    }
    .links, .buttons     {
        display: flex;
    }
    .pad-horizontal {
        padding-inline: 200px;
    }
}